[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
fastapi = {version = "*", extras = ["all"]}
python-dotenv = "*"
asyncpg = "*"
alembic = "*"
email-validator = "*"
passlib = {version = "*", extras = ["bcrypt"]}

[dev-packages]

[requires]
python_version = "3.11"
